{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://kit.fontawesome.com/863d0a7748.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/sessionView.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

  <form class="form" method="POST">
    {% csrf_token %}
    <div class="sessionCreatorBar">
      {% if joined %}

        {% if status == "lobby" %}
          <input type="hidden" name="status" value="lobby">
          <button class="sessionStartButton" type="submit">
            START GAME
          </button>
        {% elif status == "activeEliminations" %}
          <input type="hidden" name="status" value="activeEliminations">
          <button class="sessionStartButton" type="submit">
            END ELIMINATIONS
          </button>
        {% else %}
          <button class="sessionCreatorButton" disabled>
            YOU HAVE ALREADY JOINED THIS SESSION
          </button>
        {% endif %}

      {% else %}
        <input type="hidden" name="status" value="notJoined">
        <button class="sessionCreatorButton" type="submit">
          JOIN SESSION
        </button>
      {% endif %}
    </div>
  </form>


    <div class="sessionPanel">
    {% if joined %}
      NORMALNE WESZŁEŚ TEGO

      {% if status == "lobby" %}

        <table>
          <tr><td>GRACZ</td></tr>
          {% for player in session.players.all %}
            <tr><td>{{ player.name }} {{ player.surname }}</td></tr>
          {% endfor %}
        </table>

      {% elif status == "activeEliminations" %}

        <table>
          <tr><td>GRACZ</td><td>AKCJA</td></tr>
          {% for player in session.players.all %}
            <tr>
              <td>{{ player.name }} {{ player.surname }}</td>
              {% if player.judge %}
              <td><button disabled>OCENIANY PRZEZ: {{ player.judge }}</button></td>
              {% else %}
              <td><button>OCEŃ</button></td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>

      {% elif status == "activePlayoff" %}

      {% else %}

      {% endif %}

    {% endif %}
    </div>


</body>
