body {
  display: grid;
  grid-template-columns: 15% 85%;
}

.form {
  grid-column: 1;

  display: grid;
}

.sessionCreatorBar {

  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: 1fr;

  height: 100vh;
  padding: 10px;

  background: #aaaaaa;
}

.sessionCreatorButton {

  width: 100%;
  height: fit-content;

  background: #222222;
  color: white;
  border-radius: 10px;
  text-align: center;

  cursor: pointer;
}

.sessionPanel {
  grid-column: 2;
}
